In [351]:
import pandas as pd
import numpy as np
import re

In [375]:
df0 = pd.read_excel("Energy Indicators.xls") #use r before absolute file path 
df = df0[17:244]
#print(df.head())
del df['Unnamed: 0']
del df['Unnamed: 1']
df.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
#print(df.head(50))
df.replace('...', np.nan,  inplace=True)
#df['Country'] = df['Country'].apply(lambda x: re.findall('([A-Za-z, \- ]*)',x)[0].strip())
#print(df.head(50))

df['Country'] = df['Country'].apply(lambda x: re.findall('([^0-9]*)',x)[0].strip())
df['Country'] = df['Country'].apply(lambda x: re.findall('([^\(]*)',x)[0].strip())

dict1 ={"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong",
"China, Macao Special Administrative Region": "Macao"}
 

#print(df.head(100))
df['Country'].replace(dict1, None,  inplace=True)

Energy = df
print(len(Energy))
print(len(Energy['Country'].unique()))
Energy=Energy.set_index('Country')
Energy['Energy Supply']=1000000*Energy['Energy Supply']
df['Country'].unique()

227
227

<ipython-input-375-c34979a88392>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country'] = df['Country'].apply(lambda x: re.findall('([^0-9]*)',x)[0].strip())
<ipython-input-375-c34979a88392>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country'] = df['Country'].apply(lambda x: re.findall('([^\(]*)',x)[0].strip())

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Hong Kong',
       'Macao', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czech Republic',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'South Korea', 'Republic of Moldova', 'Réunion', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav Republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United Republic of Tanzania', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [354]:
Energy.groupby(Energy.index).size().reset_index(name='counts').sort_values('counts')

                                   Country  counts
0                              Afghanistan       1
144                          New Caledonia       1
145                            New Zealand       1
146                              Nicaragua       1
147                                  Niger       1
..                                     ...     ...
80                                   Ghana       1
81                               Gibraltar       1
82                                  Greece       1
56   Democratic People's Republic of Korea       1
226                               Zimbabwe       1

[227 rows x 2 columns]

In [367]:
df = pd.read_csv('world_bank.csv', header=4)
df.replace('...', np.nan,  inplace=True)

df['Country Name'] = df['Country Name'].apply(lambda x: re.findall('([^0-9]*)',x)[0].strip())

dict1 ={"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}
df['Country Name'].replace(dict1, None,  inplace=True)

dict1 ={"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong",
"China, Macao Special Administrative Region": "Macao"}
df['Country Name'].replace(dict1, None,  inplace=True)

#df['Country Name'] = df['Country Name'].apply(lambda x: re.findall('([A-Za-z \- \. \& \( \) \, ]*)',x)[0].strip())

#df['Country Name'] = df['Country Name'].apply(lambda x: re.findall('([^\(]*)',x)[0].strip())
GDP = df
print(len(GDP))
print(len(GDP['Country Name'].unique()))
GDP=GDP.set_index('Country Name')
GDP
GDP.groupby(GDP.index).size().reset_index(name='counts').sort_values('counts')
df['Country Name'].unique()

264
264

array(['Aruba', 'Andorra', 'Afghanistan', 'Angola', 'Albania',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Rep.',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti',
       'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel',
       'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'South Korea', 'Kosovo', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'Macedonia, FYR', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', 'Korea, Dem. People’s Rep.', 'Portugal', 'Paraguay',
       'Pacific island small states', 'Post-demographic dividend',
       'French Polynesia', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'South Asia', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Middle East & North Africa (IDA & IBRD countries)', 'Timor-Leste',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'West Bank and Gaza', 'World', 'Samoa', 'Yemen, Rep.',
       'South Africa', 'Congo, Dem. Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [368]:
df = pd.read_excel("scimagojr-3.xlsx") #use r before absolute file path 
SciEn=df
print(len(SciEn))
print(len(SciEn['Country'].unique()))
SciEn=SciEn.set_index('Country')
df['Country'].unique()

191
191

array(['China', 'United States', 'Japan', 'United Kingdom',
       'Russian Federation', 'Canada', 'Germany', 'India', 'France',
       'South Korea', 'Italy', 'Spain', 'Iran', 'Australia', 'Brazil',
       'Taiwan', 'Turkey', 'Norway', 'Netherlands', 'Sweden', 'Malaysia',
       'Switzerland', 'Denmark', 'Mexico', 'Poland', 'Saudi Arabia',
       'Greece', 'Egypt', 'Belgium', 'Singapore', 'Hong Kong', 'Portugal',
       'Finland', 'South Africa', 'Austria', 'Ukraine', 'Romania',
       'Thailand', 'Czech Republic', 'Argentina', 'Israel', 'Algeria',
       'United Arab Emirates', 'New Zealand', 'Colombia', 'Nigeria',
       'Ireland', 'Venezuela', 'Indonesia', 'Kuwait', 'Hungary',
       'Slovakia', 'Estonia', 'Chile', 'Tunisia', 'Slovenia', 'Pakistan',
       'Jordan', 'Bulgaria', 'Croatia', 'Serbia', 'Qatar', 'Bangladesh',
       'Oman', 'Lithuania', 'Iraq', 'Azerbaijan', 'Lebanon', 'Latvia',
       'Morocco', 'Viet Nam', 'Belarus', 'Cuba', 'Kazakhstan',
       'Philippines', 'Libya', 'Trinidad and Tobago', 'Cyprus',
       'Sri Lanka', 'Iceland', 'Brunei Darussalam', 'Bahrain',
       'Macedonia', 'Kenya', 'Bosnia and Herzegovina', 'Armenia',
       'Syrian Arab Republic', 'Peru', 'Nepal', 'Cameroon', 'Uruguay',
       'Puerto Rico', 'Ecuador', 'Luxembourg', 'Moldova', 'Uzbekistan',
       'Tanzania', 'Palestine', 'Angola', 'Ethiopia', 'Ghana', 'Sudan',
       'Costa Rica', 'Macao', 'Malta', 'Monaco', 'Botswana', 'Georgia',
       'Uganda', 'Mongolia', 'Paraguay', 'Yemen', 'Bolivia',
       'Burkina Faso', 'North Korea', 'Montenegro', 'Congo', 'Albania',
       'Zimbabwe', 'Senegal', 'El Salvador', 'Fiji', 'Zambia', 'Jamaica',
       'Mauritius', 'Mozambique', 'Laos', 'Nicaragua', 'Myanmar',
       'Tajikistan', 'Gabon', 'Côte d’Ivoire', 'Panama',
       'Papua New Guinea', 'Niger', 'Bhutan', 'Guatemala', 'Madagascar',
       'Malawi', 'Barbados', 'Benin', 'Liechtenstein',
       'Dominican Republic', 'Turkmenistan', 'Guinea', 'Namibia',
       'Suriname', 'Rwanda', 'Lesotho', 'Sierra Leone', 'Swaziland',
       'Eritrea', 'Kyrgyzstan', 'Cambodia', 'Guadeloupe', 'New Caledonia',
       'Equatorial Guinea', 'Honduras', 'Faroe Islands', 'Djibouti',
       'Netherlands Antilles', 'Greenland', 'Afghanistan', 'Cape Verde',
       'French Guiana', 'Samoa', 'Cayman Islands', 'Andorra',
       'Antigua and Barbuda', 'Haïti', 'Nauru', 'Seychelles', 'Mali',
       'Bermuda', 'Chad', 'Burundi', 'Liberia', 'Togo',
       'British Indian Ocean Territory', 'American Samoa', 'Saint Helena',
       'Gibraltar', 'Maldives', 'Gambia', 'Belize', 'Palau', 'Guyana',
       'Christmas Island', 'Reunion', 'Saint Lucia', 'Mauritania'],
      dtype=object)

In [369]:
SciEn

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
...,...,...,...,...,...,...,...
Guyana,187,1,1,0,0,0.00,0
Christmas Island,188,1,1,0,0,0.00,0
Reunion,189,1,1,2,1,2.00,1
Saint Lucia,190,1,1,0,0,0.00,0
Mauritania,191,1,1,1,0,1.00,1

In [370]:
print(Energy.index.unique())
GDP.index.unique()

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       ...
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Viet Nam', 'Wallis and Futuna Islands', 'Yemen', 'Zambia',
       'Zimbabwe'],
      dtype='object', name='Country', length=227)

Index(['Aruba', 'Andorra', 'Afghanistan', 'Angola', 'Albania', 'Arab World',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       ...
       'Vietnam', 'Vanuatu', 'West Bank and Gaza', 'World', 'Samoa',
       'Yemen, Rep.', 'South Africa', 'Congo, Dem. Rep.', 'Zambia',
       'Zimbabwe'],
      dtype='object', name='Country Name', length=264)

In [371]:
df1= pd.merge(Energy,GDP, how='inner', left_index=True, right_index=True)
df2= pd.merge(df1,SciEn, how='inner', left_index=True, right_index=True)
df2[['1960','1961']]

                        1960          1961
Afghanistan              NaN           NaN
Albania                  NaN           NaN
Algeria         2.744286e+10  2.370914e+10
American Samoa           NaN           NaN
Andorra                  NaN           NaN
...                      ...           ...
United States   3.078071e+12  3.148867e+12
Uruguay         1.389822e+10  1.424471e+10
Uzbekistan               NaN           NaN
Zambia          4.592975e+09  4.655503e+09
Zimbabwe        3.338344e+09  3.549199e+09

[162 rows x 2 columns]

In [372]:
df3 = df2[df2['Rank']<=15]
df3 = df3[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations','Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
df3 = df3.sort_values('Rank')
df3

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
China,1,127050,126767,597237,411683,4.70,138,127191.0,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,90838.0,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,18984.0,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7920.0,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709.0,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431.0,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261.0,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,33195.0,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,10597.0,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,11007.0,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6530.0,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4923.0,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9172.0,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5386.0,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,12149.0,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12